<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="../../../../assets/img2/lottery scams.png" alt="" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">ADVANCED CYBER THREATS In DIGITAL ERA</h6>
                <h1 class="mb-4">Email/Lottery Scams</h1>
                <!-- <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p> -->
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-m-6">
                        <p class="mb-0" style="font-size: 23px;"><i class="fa fa-arrow-right text-primary me-2"></i><b style="color: #06BBCC; font-weight: 590;">Lottery scam</b><br></p>
                        <p class="mb-0">Sometimes you receive an email like “you won a lottery of million dollars” receiving such a kind of mails is a great thing, and really it’s a happiest thing. By responding to such a kind of mails huge amount of money will be lost. Because these e-Mails are not true, scammers try to fool and trap you to obtain money.</p>
                    </div>                    
                </div>                
            </div>
        </div><br>
        <div class="row g-5">
            <div class="col-lg-6 order-lg-2 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative">
                    <img class="img-fluid position-relative w-100 h-100" src="../../../../assets/img2/emailscams.jpg" alt="" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <!-- <h6 class="section-title bg-white text-start text-primary pe-3">ADVANCED CYBER THREATS In DIGITAL ERA</h6>
                <h1 class="mb-4">Email/Lottery Scams</h1> -->
                <!-- <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p> -->
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-m-6">
                        <p class="mb-0" style="font-size: 23px;"><i class="fa fa-arrow-right text-primary me-2"></i><b style="color: #06BBCC; font-weight: 590;">Email Scam</b><br></p>
                        <p class="mb-0">Email Scam Like -Congratulations you have won Webcam, Digital Camera, etc.</p>
                    </div>
                    <div class="col-m-6">
                        <p class="mb-0">Sometimes you get an e-mail with a message like - you have won something special like digital camera web cam , all you need to do is just visit our web site by clicking the link given below and provide your debit or credit card details to cover shipping and managing costs. However the item never arrives but after some days the charges will be shown on your bank account , and you will lose money.</p>
                    </div>
                    <img class="img-fluid position-relative w-100 h-100" src="../../../../assets/img2/emailscams2.jpg" alt="" style="object-fit: cover;">                    
                </div>
                <a class="btn btn-primary py-3 px-5 mt-2" [routerLink]="['../precautions']">Next</a>
            </div>
        </div>
    </div>
</div>