<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 order-lg-2 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <!-- <div class="position-relative h-100"> -->
                    <img class="img-fluid position-relative" src="../../../../assets/img2/man-in-the-middle-attack.jpg" alt="" style="object-fit: cover; margin-top: 15vh;">
                <!-- </div> -->
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">ADVANCED CYBER THREATS In DIGITAL ERA</h6>
                <h1 class="mb-4">What is Man-in-the-Middle Attack?</h1>
                <!-- <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p> -->
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-m-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>A Man-in-the-Middle attack is a security breach where an attacker intercepts and possibly alters the communication between two parties without their knowledge.</p>
                    </div>
                    <div class="col-m-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>The attacker positions themselves between the communicating entities allowing them to eavesdrop on or  manipulate the data being exchanged.</p>
                    </div>
                    <div class="col-m-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Types of MITM attacks include Packet Sniffing, Session Hijacking, SSL Stripping, etc.</p>
                    </div>
                    <div class="col-m-6">
                        <p class="mb-0" style="white-space: nowrap;"><i class="fa fa-arrow-right text-primary me-2"></i>To mitigate MITM attacks, its essential to use encrypted communication protocol (HTTPS), implementing secure Wi-Fi connections, using <br>public key infrastructure (PKI) for authentication.</p>
                    </div>                    
                </div>
                <a class="btn btn-primary py-3 px-5 mt-2" [routerLink]="['../dnt-apt-test001']">Take the Test</a>
            </div>
        </div>
    </div>
</div>