<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">            
            <div class="wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3" style="font-size: larger;">Test On Wireless Environment, Scams & Precautions</h6><br><br>
                <form>
                    <ol>
                        
                        <li>                            
                            <p>What is the primary goal of a Denial of Service (DoS) attack in a wireless environment?</p>
                            <input type="radio" id="q1a" name="q1" value="a" style="margin-right: 3vh;" [(ngModel)]="model.q1">
                            <label for="q1a"> To collect sensitive data from access points. </label><br>

                            <input type="radio" id="q1b" name="q1" value="b" style="margin-right: 3vh;" [(ngModel)]="model.q1">
                            <label for="q1b">To prevent users from accessing network resources.</label><br>

                            <input type="radio" id="q1c" name="q1" value="c" style="margin-right: 3vh;" [(ngModel)]="model.q1">
                            <label for="q1c">To intercept data sent by other wireless clients.</label><br>

                            <input type="radio" id="q1d" name="q1" value="d" style="margin-right: 3vh;" [(ngModel)]="model.q1">
                            <label for="q1d">To infect the network with malware.</label><br>

                        </li><br>
                        <li>
                            <p>Which of the following attacks can be easier to perform in wireless networks compared to wired networks?</p>
                            <input type="radio" id="q2a" name="q2" value="a" style="margin-right: 3vh;"  [(ngModel)]="model.q2">
                            <label for="q2a">SQL Injection Attack</label><br>
                            
                            <input type="radio" id="q2b" name="q2" value="b" style="margin-right: 3vh;"  [(ngModel)]="model.q2">
                            <label for="q2b">Cross-site Scripting Attack</label><br>
                            
                            <input type="radio" id="q2c" name="q2" value="c" style="margin-right: 3vh;"  [(ngModel)]="model.q2">
                            <label for="q2c">Man-In-The-Middle Attack</label><br>

                            <input type="radio" id="q2d" name="q2" value="d" style="margin-right: 3vh;"  [(ngModel)]="model.q2">
                            <label for="q2d">Phishing Attack</label><br>
                        </li><br>

                        <li>
                            <p>What is the purpose of WarDriving?</p>
                            <input type="radio" id="q3a" name="q3" value="a" style="margin-right: 3vh;"  [(ngModel)]="model.q3">
                            <label for="q3a">To update the firmware of wireless devices.</label><br>

                            <input type="radio" id="q3b" name="q3" value="b" style="margin-right: 3vh;" [(ngModel)]="model.q3">
                            <label for="q3b">To track Wi-Fi hotspots and potentially exploit unencrypted access points.</label><br>
                            
                            <input type="radio" id="q3c" name="q3" value="c" style="margin-right: 3vh;" [(ngModel)]="model.q3">
                            <label for="q3c">To create a backup of network data.</label><br>

                            <input type="radio" id="q3d" name="q3" value="d" style="margin-right: 3vh;" [(ngModel)]="model.q3">
                            <label for="q3d">To manage network bandwidth.</label><br>
                        </li><br>

                        <li>
                            <p>Which of the following is NOT a recommended guideline for securing wireless communications?</p>
                            <input type="radio" id="q4a" name="q4" value="a" style="margin-right: 3vh;" [(ngModel)]="model.q4">
                            <label for="q4a">Change the default username and password of the Access Point.</label><br>
                            
                            <input type="radio" id="q4b" name="q4" value="b" style="margin-right: 3vh;" [(ngModel)]="model.q4">
                            <label for="q4b">Broadcast your network name to make it easily identifiable.</label><br>         
                            
                            <input type="radio" id="q4c" name="q4" value="c" style="margin-right: 3vh;" [(ngModel)]="model.q4">
                            <label for="q4c">Isolate the wireless network from the wired network with a firewall.</label><br>

                            <input type="radio" id="q4d" name="q4" value="d" style="margin-right: 3vh;" [(ngModel)]="model.q4">
                            <label for="q4d">Use a strong password for encryption.</label><br>
                        </li><br>

                        <li>
                            <p>Which of these methods is commonly used in email scams to deceive individuals?</p>
                            <input type="radio" id="q5a" name="q5" value="a" style="margin-right: 3vh;" [(ngModel)]="model.q5">
                            <label for="q5a">Requesting help for a charitable cause</label><br>

                            <input type="radio" id="q5b" name="q5" value="b" style="margin-right: 3vh;" [(ngModel)]="model.q5">
                            <label for="q5b">Providing free security updates</label><br>

                            <input type="radio" id="q5c" name="q5" value="c" style="margin-right: 3vh;" [(ngModel)]="model.q5">
                            <label for="q5c">Offering a fake lottery win</label><br>

                            <input type="radio" id="q5d" name="q5" value="d" style="margin-right: 3vh;" [(ngModel)]="model.q5">
                            <label for="q5d">Asking for participation in genuine surveys</label><br>
                        </li><br>

                        <li>
                            <p>What kind of computer security risk could result from leaving a webcam connected?</p>
                            <input type="radio" id="q6a" name="q6" value="a" style="margin-right: 3vh;" [(ngModel)]="model.q6">
                            <label for="q6a">Unauthorized recording or surveillance</label><br>
                            <input type="radio" id="q6b" name="q6" value="b" style="margin-right: 3vh;" [(ngModel)]="model.q6">
                            <label for="q6b">Increased bandwidth usage</label><br>
                            <input type="radio" id="q6c" name="q6" value="c" style="margin-right: 3vh;" [(ngModel)]="model.q6">
                            <label for="q6c">Software incompatibility</label><br>
                            <input type="radio" id="q6d" name="q6" value="d" style="margin-right: 3vh;" [(ngModel)]="model.q6">
                            <label for="q6d">Slower computer performance</label><br>
                        </li><br>
                        <li>
                            <p>What should be done regularly to protect data on your personal computer?</p>
                            <input type="radio" id="q7a" name="q7" value="a" style="margin-right: 3vh;" [(ngModel)]="model.q7">
                            <label for="q7a">Backup your data</label><br>
                            <input type="radio" id="q7b" name="q7" value="b" style="margin-right: 3vh;" [(ngModel)]="model.q7">
                            <label for="q7b">Leave the computer on sleep mode</label><br>
                            <input type="radio" id="q7c" name="q7" value="c" style="margin-right: 3vh;" [(ngModel)]="model.q7">
                            <label for="q7c">Overclock the CPU</label><br>
                            <input type="radio" id="q7d" name="q7" value="d" style="margin-right: 3vh;" [(ngModel)]="model.q7">
                            <label for="q7d">Defragment the hard drive</label><br>
                        </li><br>
                        <li>
                            <p>Why are updates to operating systems on devices important?</p>
                            <input type="radio" id="q8a" name="q8" value="a" style="margin-right: 3vh;" [(ngModel)]="model.q8">
                            <label for="q8a">They add more storage space to the device.</label><br>
                            <input type="radio" id="q8b" name="q8" value="b" style="margin-right: 3vh;" [(ngModel)]="model.q8">
                            <label for="q8b">They often include patches for security vulnerabilities.</label><br>
                            <input type="radio" id="q8c" name="q8" value="c" style="margin-right: 3vh;" [(ngModel)]="model.q8">
                            <label for="q8c">They always increase the speed of the device.</label><br>
                            <input type="radio" id="q8d" name="q8" value="d" style="margin-right: 3vh;" [(ngModel)]="model.q8">
                            <label for="q8d">They reduce the cost of device maintenance.</label><br>
                        </li><br>
                        <li>
                            <p>Denial of Service attacks are designed to make network resources unavailable to intended users.</p>
                            <input type="radio" id="q9a" name="q9" value="a" style="margin-right: 3vh;" [(ngModel)]="model.q9">
                            <label for="q9a">True</label><br>
                            <input type="radio" id="q9b" name="q9" value="b" style="margin-right: 3vh;" [(ngModel)]="model.q9">
                            <label for="q9b">False</label><br>                            
                        </li><br>
                        <li>
                            <p>Performing a Man-In-The-Middle Attack is more difficult in a wireless network than in a wired network.</p>
                            <input type="radio" id="q10a" name="q10" value="a" style="margin-right: 3vh;" [(ngModel)]="model.q10">
                            <label for="q10a">True</label><br>
                            <input type="radio" id="q10b" name="q10" value="b" style="margin-right: 3vh;" [(ngModel)]="model.q10">
                            <label for="q10b">False</label><br>                            
                        </li>
                    </ol>
                    <button type="submit" (click)="Start()" >Submit Answers</button>
                </form>
            </div>
            <a *ngIf="submittedw" class="btn btn-primary py-3 px-5 mt-2" (click)="CheckTest001('')">Go to the Next Chapter!</a>
        </div>
    </div>
</div>

<div class="container-xxl py-5 justify-content-center align-items-center modal-open" *ngIf="start"> <!-- *ngIf="start"-->
    <div class="container">
        <div class="card shadow confirmation-card">
            <div class="row g-5">                
                <div class="col-lg-6 wow" >
                    <div class="card-body">                        
                        <!-- Confirmation Card -->
                        <div class="confirmation-card confirmation-buttons">
                            <p class="confirmation-text">Are you sure you want to submit?</p>
                            <button class="btn btn-primary"  (click)="submitForm()">Yes</button> <!--(click)="submitEnrollment()"-->
                            <button class="btn btn-secondary" (click)="closeCard()">Cancel</button> <!-- (click)="cancelEnrollment()"-->
                        </div>
                        <!-- End Confirmation Card -->
                        <button type="button" class="btn-close position-absolute top-0 end-0 mt-3 me-3" aria-label="Close" (click)="closeCard()"></button> <!--(click)="closeCard()"-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
