<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="../../../../assets/img2/cyberthreat.jpg" alt="" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">ADVANCED CYBER THREATS In DIGITAL ERA</h6>
                <h1 class="mb-4">Threat, Vulnerability & Risk</h1>
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-m-6">
                        <p class="mb-0" style="font-size: 25px;"><i class="fa fa-regular fa-star text-primary me-2"></i><b style="color: #06BBCC; font-weight: 590;">Threat</b><br></p>
                    </div>
                    <div class="col-m-6">
                        <!-- <i class="fa-regular fa-star"></i> -->
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Threats have the potential to steal or damage data, disrupt business, or create harm in general.</p>
                    </div>
                    <div class="col-m-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>In general terms, there are three categories.</p>
                    </div>
                    <div class="col-m-6">
                        <p class="mb-0" style="padding-left: 5vh;"><i class="fa fa-arrow-right text-primary me-2"></i><b style="color: #06BBCC; font-weight: 590;">Intentional threats</b><br>Things like malware, ransomware, phishing, malicious code, and wrongfully accessing user login credentials are all examples of intentional threats.</p>
                    </div>
                    <div class="col-m-6">
                        <p class="mb-0" style="padding-left: 5vh;"><i class="fa fa-arrow-right text-primary me-2"></i><b style="color: #06BBCC; font-weight: 590;">Unintentional threats</b><br>Unintentional threats are often attributed to human error.</p>
                    </div>
                    <div class="col-m-6">
                        <p class="mb-0" style="padding-left: 5vh;"><i class="fa fa-arrow-right text-primary me-2"></i><b style="color: #06BBCC; font-weight: 590;">Natural threats</b><br>While acts of nature (floods, hurricanes, tornadoes, earthquakes, etc).</p>
                    </div>
                </div>                
                <a class="btn btn-primary py-3 px-5 mt-2" [routerLink]="['../cyber-vulnerability']">Next</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->