<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <!-- <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="img/about.jpg" alt="" style="object-fit: cover;">
                </div>
            </div> -->
            <div class="wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3" style="font-size: larger;">Test On Phishing/Spoofing & It's Types</h6><br><br>
                <form> <!--(ngSubmit)="submitForm()" #form="ngForm"-->
                    <ol>
                        
                        <li>                            
                            <p>What is phishing primarily used for?</p>
                            <input type="radio" id="q1a" name="q1" value="a" style="margin-right: 3vh;" [(ngModel)]="model.q1">
                            <label for="q1a"> Boosting website traffic</label><br>

                            <input type="radio" id="q1b" name="q1" value="b" style="margin-right: 3vh;" [(ngModel)]="model.q1">
                            <label for="q1b">Trick individuals into revealing sensitive information</label><br>

                            <input type="radio" id="q1c" name="q1" value="c" style="margin-right: 3vh;" [(ngModel)]="model.q1">
                            <label for="q1c">Providing computer updates  </label><br>

                            <input type="radio" id="q1d" name="q1" value="d" style="margin-right: 3vh;" [(ngModel)]="model.q1">
                            <label for="q1d">Promoting online services  </label><br>

                        </li><br>
                        <li>
                            <p>What is the most common type of phishing?</p>
                            <input type="radio" id="q2a" name="q2" value="a" style="margin-right: 3vh;"  [(ngModel)]="model.q2">
                            <label for="q2a">Clone Phishing  </label><br>
                            
                            <input type="radio" id="q2b" name="q2" value="b" style="margin-right: 3vh;"  [(ngModel)]="model.q2">
                            <label for="q2b">Spear Phishing  </label><br>
                            
                            <input type="radio" id="q2c" name="q2" value="c" style="margin-right: 3vh;"  [(ngModel)]="model.q2">
                            <label for="q2c">Email Phishing  </label><br>

                            <input type="radio" id="q2d" name="q2" value="d" style="margin-right: 3vh;"  [(ngModel)]="model.q2">
                            <label for="q2d">Whaling  </label><br>
                        </li><br>

                        <li>
                            <p>When does whaling occur in phishing attacks?</p>
                            <input type="radio" id="q3a" name="q3" value="a" style="margin-right: 3vh;"  [(ngModel)]="model.q3">
                            <label for="q3a">When attackers target common internet users </label><br>

                            <input type="radio" id="q3b" name="q3" value="b" style="margin-right: 3vh;" [(ngModel)]="model.q3">
                            <label for="q3b">When attackers target people using Wi-Fi </label><br>
                            
                            <input type="radio" id="q3c" name="q3" value="c" style="margin-right: 3vh;" [(ngModel)]="model.q3">
                            <label for="q3c">When attackers target indiscriminate individuals </label><br>

                            <input type="radio" id="q3d" name="q3" value="d" style="margin-right: 3vh;" [(ngModel)]="model.q3">
                            <label for="q3d">When attackers target high-profile individuals like executives </label><br>
                        </li><br>

                        <li>
                            <p>How do pop-up phishing attacks commonly deceive users?</p>
                            <input type="radio" id="q4a" name="q4" value="a" style="margin-right: 3vh;" [(ngModel)]="model.q4">
                            <label for="q4a"> By offering technical support    </label><br>
                            
                            <input type="radio" id="q4b" name="q4" value="b" style="margin-right: 3vh;" [(ngModel)]="model.q4">
                            <label for="q4b">By acting as internet service providers  </label><br>         
                            
                            <input type="radio" id="q4c" name="q4" value="c" style="margin-right: 3vh;" [(ngModel)]="model.q4">
                            <label for="q4c">By providing free software downloads</label><br>

                            <input type="radio" id="q4d" name="q4" value="d" style="margin-right: 3vh;" [(ngModel)]="model.q4">
                            <label for="q4d">By mimicking legitimate alerts or requests</label><br>
                        </li><br>

                        <li>
                            <p>What involves making a nearly exact copy of a legitimate message with malicious links?</p>
                            <input type="radio" id="q5a" name="q5" value="a" style="margin-right: 3vh;" [(ngModel)]="model.q5">
                            <label for="q5a"> Whaling   </label><br>

                            <input type="radio" id="q5b" name="q5" value="b" style="margin-right: 3vh;" [(ngModel)]="model.q5">
                            <label for="q5b"> Spear Phishing    </label><br>                            

                            <input type="radio" id="q5c" name="q5" value="c" style="margin-right: 3vh;" [(ngModel)]="model.q5">
                            <label for="q5c">Email Phishing  </label><br>                            

                            <input type="radio" id="q5d" name="q5" value="d" style="margin-right: 3vh;" [(ngModel)]="model.q5">
                            <label for="q5d">Clone Phishing </label><br>                            
                        </li><br>

                        <li>
                            <p>Who can potentially connect to an unsecured Access Point?</p>
                            <input type="radio" id="q6a" name="q6" value="a" style="margin-right: 3vh;" [(ngModel)]="model.q6">
                            <label for="q6a">Only individuals with a special permit  </label><br>
                            <input type="radio" id="q6b" name="q6" value="b" style="margin-right: 3vh;" [(ngModel)]="model.q6">
                            <label for="q6b">Only individuals with a cable connection  </label><br>
                            <input type="radio" id="q6c" name="q6" value="c" style="margin-right: 3vh;" [(ngModel)]="model.q6">
                            <label for="q6c">Anyone within the range of the Access Point</label><br>
                            <input type="radio" id="q6d" name="q6" value="d" style="margin-right: 3vh;" [(ngModel)]="model.q6">
                            <label for="q6d">Only the network administrator  </label><br>
                        </li><br>
                        <li>
                            <p>Phishing only uses email to deceive users into giving out personal information.</p>
                            <input type="radio" id="q7a" name="q7" value="a" style="margin-right: 3vh;" [(ngModel)]="model.q7">
                            <label for="q7a">True</label><br>
                            <input type="radio" id="q7b" name="q7" value="b" style="margin-right: 3vh;" [(ngModel)]="model.q7">
                            <label for="q7b">False</label><br>                            
                        </li><br>
                        <li>
                            <p>Whaling exclusively targets low-level employees to gather general company information.</p>
                            <input type="radio" id="q8a" name="q8" value="a" style="margin-right: 3vh;" [(ngModel)]="model.q8">
                            <label for="q8a">True</label><br>
                            <input type="radio" id="q8b" name="q8" value="b" style="margin-right: 3vh;" [(ngModel)]="model.q8">
                            <label for="q8b">False</label><br>                            
                        </li><br>
                        <li>
                            <p>Clone phishing involves changing the content of the original email to make it look malicious.</p>
                            <input type="radio" id="q9a" name="q9" value="a" style="margin-right: 3vh;" [(ngModel)]="model.q9">
                            <label for="q9a">True</label><br>
                            <input type="radio" id="q9b" name="q9" value="b" style="margin-right: 3vh;" [(ngModel)]="model.q9">
                            <label for="q9b">False</label><br>                            
                        </li><br>
                        <li>
                            <p>An unsecured Access Point can allow attackers to perform a variety of malicious actions.</p>
                            <input type="radio" id="q10a" name="q10" value="a" style="margin-right: 3vh;" [(ngModel)]="model.q10">
                            <label for="q10a">True</label><br>
                            <input type="radio" id="q10b" name="q10" value="b" style="margin-right: 3vh;" [(ngModel)]="model.q10">
                            <label for="q10b">False</label><br>                            
                        </li>
                    </ol>
                    <button type="submit" (click)="Start()" >Submit Answers</button> <!--(click)="submitForm()"-->
                </form>
            </div>
            <a *ngIf="submitted" class="btn btn-primary py-3 px-5 mt-2" (click)="CheckTest001('')">Go to the Next Chapter!</a>
        </div>
    </div>
</div>

<div class="container-xxl py-5 justify-content-center align-items-center modal-open" *ngIf="start"> <!-- *ngIf="start"-->
    <div class="container">
        <div class="card shadow confirmation-card">
            <div class="row g-5">                
                <div class="col-lg-6 wow" >
                    <div class="card-body">                        
                        <!-- Confirmation Card -->
                        <div class="confirmation-card confirmation-buttons">
                            <p class="confirmation-text">Are you sure you want to submit?</p>
                            <button class="btn btn-primary"  (click)="submitForm()">Yes</button> <!--(click)="submitEnrollment()"-->
                            <button class="btn btn-secondary" (click)="closeCard()">Cancel</button> <!-- (click)="cancelEnrollment()"-->
                        </div>
                        <!-- End Confirmation Card -->
                        <button type="button" class="btn-close position-absolute top-0 end-0 mt-3 me-3" aria-label="Close" (click)="closeCard()"></button> <!--(click)="closeCard()"-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
