<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 order-lg-2 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <!-- <div class="position-relative h-100"> -->
                    <img class="img-fluid position-relative" src="../../../../assets/img2/cyberstalking.png" alt="" style="object-fit: cover;">                    
                <!-- </div> -->
            </div>
            <div class="col-lg-6 order-lg-2 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <!-- <div class="position-relative h-100"> -->
                    <img class="img-fluid position-relative" src="../../../../assets/img2/cyberbullying.png" alt="" style="object-fit: cover;">                    
                <!-- </div> -->
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">ADVANCED CYBER THREATS In DIGITAL ERA</h6>
                <h1 class="mb-4">What is Cyberstalking?</h1>
                <!-- <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p> -->
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-m-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Cyberstalking is a crime committed when someone uses the internet and other technologies to harass or stalk another person online</p>
                    </div>
                    <div class="col-m-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Even though cyberstalking is a broad term for online harassment, it can include defamation, false accusations, teasing, and even extreme threats.</p>
                    </div>                    
                </div>                            
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <!-- <h6 class="section-title bg-white text-start text-primary pe-3">ADVANCED CYBER THREATS In DIGITAL ERA</h6> -->
                    <h1 class="mb-4" style="margin-top: 6vh;">What is Cyberbullying?</h1>
                    <p class="mb-4" style="margin-top: 6vh;">Cyberbullying is the use of technology to harass, threaten, embarrass, or target another person. Online threats and mean, aggressive, or rude texts, tweets, posts, or messages all count.</p>                    
            </div>
        </div>
        <a class="btn btn-primary py-3 px-5 mt-2" [routerLink]="['../cyberstalking-cyberbullying-prevention']">Next</a>
    </div>
</div>