<!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <!-- <h6 class="section-title bg-white text-start text-primary pe-3">Types of Scams/Frauds</h6> -->
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="img-fluid position-absolute w-100 h-100" src="../../../../assets/img/frauds.jpg" alt="" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    
                    <h1 class="mb-4">Types of Scams/Frauds</h1>
                    <!-- <p class="mb-4">Cybersecurity education should be accessible to everyone.</p>
                    <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p> -->
                    <div class="row gy-2 gx-4 mb-4">
                        <div>
                            <p class="mb-0" style="font-weight: 450;"><i class="fa fa-arrow-right text-primary me-2"></i>Electricity Bill Scam</p>
                            <p class="mb-4">Many users gets messages on WhatsApp and via SMS from unknown numbers, claiming that their electricity will be cut off if the bill is not paid. But instead of redirecting you to official government portal, you're asked to contact a certain number.</p>
                        </div>
                        <div> <!--class="col-sm-6"-->
                            <p class="mb-0" style="font-weight: 450;"><i class="fa fa-arrow-right text-primary me-2"></i>WhatsApp QR code scam</p>
                            <p class="mb-4">The fraudster sends a text message saying they’ve won something along with a QR code. The message will prompt you to scan the code, enter a specified amount, and ‘receive’ the cash.</p>
                        </div>
                        <div>
                            <p class="mb-0" style="font-weight: 450;"><i class="fa fa-arrow-right text-primary me-2"></i>Impersonation Scams</p>
                            <p class="mb-4">Impersonation scams involve the fraudster pretending to be a victim&#39;s friend, a family member, or an acquaintance. The scammer contacts a user from an unknown number, noting that the profile picture may be familiar, then immediately asks for money in an emergency.</p>
                        </div>
                        <div>
                            <p class="mb-0" style="font-weight: 450;"><i class="fa fa-arrow-right text-primary me-2"></i>Malicious Links</p>
                            <p class="mb-4">Fraudsters send external links that lead the users directed to the browser to fill a survey promising a freebie. Victim completes the survey and enters sensitive information such as name, address, bank details, and email address.  Later on, the WhatsApp scammer use these details for attempting theft or selling on to third parties</p>
                        </div>
                        <div>
                            <p class="mb-0" style="font-weight: 450;"><i class="fa fa-arrow-right text-primary me-2"></i>Frequently Forwarded Messages</p>
                            <p class="mb-4">Users can see a small warning on their inbox that helps them know that a specific message has been forwarded many times. if the message is forwarded many times, it is mostly going to be spam or circulating fake news, videos, or something more sinister.</p>
                        </div>                        
                    </div>
                    <a class="btn btn-primary py-3 px-5 mt-2" href="">Take the Test!</a>
                </div>
            </div>
        </div>
    </div> 
    <!-- About End-->