<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="../../../../assets/img2/ddos.jpg" alt="" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">ADVANCED CYBER THREATS In DIGITAL ERA</h6>
                <h1 class="mb-4">What is Distributed Denial of Service Attack?</h1>
                <!-- <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p> -->
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-m-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>A Distributed Denial of Service attack is a malicious attempt to disrupt the regular functioning of a network, service or a website by overwhelming it with a flood of internet traffic.</p>
                    </div>
                    <div class="col-m-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Unlike traditional DOS attack where a single source is used to flood the target, a DDOS attack involves multiple compromised computers forming a botnet.</p>
                    </div>
                    <div class="col-m-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i><b>Botnet:</b> Attackers often control a network of compromised computers to launch the attack.</p>
                    </div>
                    <div class="col-m-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i><b>Mitigation:</b> deploying DDOS protection services, firewalls, load balancers and content delivery networks (CDNs) to defend against these attacks.</p>
                    </div>                    
                </div>
                <a class="btn btn-primary py-3 px-5 mt-2" [routerLink]="['../cyberstalking']">Next</a>
            </div>
        </div>
    </div>
</div>