<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 order-lg-2 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="../../../../assets/img2/hackerstarget.jpg" alt="" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">ADVANCED CYBER THREATS In DIGITAL ERA</h6>  
                <h1 class="mb-4">Attack Surfaces which Hackers generally Target</h1>
                <!-- <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p> -->
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-m-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i><b>Networks:</b> Exploiting vulnerabilities in network protocols and services to gain unauthorized access. Conducting network-based attacks, such as man-in-the-middle attacks and packet sniffing.</p>
                    </div>
                    <div class="col-m-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i><b>Web Applications:</b> Exploiting vulnerabilities in web applications, such as SQL injection, cross-site scripting (XSS), etc. Attacking web servers to gain control over hosted applications and databases.</p>
                    </div>
                    <div class="col-m-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i><b>Endpoints:</b> Exploiting vulnerabilities in operating systems and software applications on endpoints.</p>
                    </div>
                    <div class="col-m-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i><b>Emails:</b> Conducting phishing attacks through email to trick users into disclosing sensitive information or downloading malicious attachments. Exploiting vulnerabilities in email systems to gain unauthorized access.</p>
                    </div>
                    <div class="col-m-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i><b>Cloud Services:</b> Exploiting misconfigurations or vulnerabilities in cloud infrastructure and services.</p>
                    </div>
                    <div class="col-m-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i><b>Social Engineering:</b> Manipulating individuals through psychological tactics to trick them into divulging confidential information, such as passwords or login credentials.</p>
                    </div>
                    <div class="col-m-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i><b>Social Engineering:</b> Manipulating individuals through psychological tactics to trick them into divulging confidential information, such as passwords or login credentials.</p>
                    </div>
                    <div class="col-m-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i><b>Physical Security:</b> Conducting physical attacks, such as unauthorized access to data centers or stealing hardware devices. Exploiting weaknesses in physical security measures, such as access controls and surveillance systems.</p>
                    </div>
                    <div class="col-m-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i><b>IoT Devices:</b> Exploiting vulnerabilities in Internet of Things (IoT) devices to gain control over connected systems.</p>
                    </div>
                    <div class="col-m-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i><b>Wireless Networks:</b> Exploiting vulnerabilities in wireless network protocols, to gain unauthorized access to the Wi-Fi Network.</p>
                    </div>
                </div>
                <a class="btn btn-primary py-3 px-5 mt-2" [routerLink]="['../tools-and-technologies']">Next</a>
            </div>
        </div>
    </div>
</div>