<div *ngIf="userRole === '1'; else noAccessPage">

<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a href="homepage" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <h2 class="m-0"><i class="fa fa-book me-3"></i>eLEARNING</h2>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a class="nav-item nav-link" href="homepage">Home</a>
            <!-- <a class="nav-item nav-link">About</a> -->
            <a class="nav-item nav-link active" href="courses">Courses</a>
            <!-- <a href="contact.html" class="nav-item nav-link">Contact</a> -->
        </div>
        <a (click)="logout()" class="btn py-4 px-lg-5 d-lg-block" style="background: #11101D; color: #ddd;">Log Out<i
                class="fa fa-arrow-right ms-3"></i></a>
    </div>
</nav>
<!-- Navbar End -->


<div class="mb-24pt mb-sm-0 mr-sm-24pt">
        <h1 class="mb-0 h2">Manage Courses</h1> 
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">
                <a href="/" class="active" target="_self">Home</a>
            </li>
            <li class="breadcrumb-item active">
                <span aria-current="location">Manage Courses</span>
            </li>
        </ol>
</div>

</div>

<ng-template #noAccessPage>
    <div class="container text-center py-5">
      <h1 class="text-danger">Access Denied</h1>
      <p class="lead">You do not have permission to view this page.</p>
      <a class="btn btn-primary" routerLink="/homepage">Go to Homepage</a>
    </div>
</ng-template>