<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="../../../../assets/img2/desktopsecurity.jpg" alt="" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">ADVANCED CYBER THREATS In DIGITAL ERA</h6>
                <h1 class="mb-4">Desktop Security</h1>
                <p class="mb-4">The growing reach of the Internet and the rapid spread of information through mobile devices have presented new opportunities that could put some women at risk, so it is important to be mindful of the dangers.</p>
                <p class="mb-4">A personal computer used without proper security measure could lead to exploiting the system for illegal activities using the resources of such in secured computers. These exploiters could be Virus, Trojans, Key loggers and sometimes real hackers. This may result in data theft, data loss, personal information disclosure, stealing of credentials like passwords etc. So, protect and secure your Personal Computer before it is compromised.</p>
                <p class="mb-4"><b>Things to remember ….while using your personal computer!</b></p>
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Don’t leave your webcam connected</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Scan external devices before Use</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Backup your data</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Control Access to your personal computer</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Use Licensed Software</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Update all operating systems on you devices.</p>
                    </div>
                </div>
                <a class="btn btn-primary py-3 px-5 mt-2" [routerLink]="['../wireless-environment-test001']">Take the Test</a>
            </div>
        </div>
    </div>
</div>