<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">            
            <div class="col-lg-15 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">ADVANCED CYBER THREATS In DIGITAL ERA</h6>
                <h1 class="mb-4">What are the tools and technologies used to protect IT Infra and Applications from cyber criminals?</h1>
                <!-- <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p> -->
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-m-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i><b>Firewalls:</b> To monitor and control incoming and outgoing network traffic based on predetermined security rules. <br>Example Tools: Cisco ASA, Palo Alto Networks, pfSense.</p>
                    </div>
                    <div class="col-m-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i><b>Intrusion Detection & Prevention Systems:</b> To detect and prevent unauthorized access or suspicious activities in networks. <br>Example Tools: Snort (IDS), Suricata (IDS/IPS), Cisco Firepower.</p>
                    </div>
                    <div class="col-m-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i><b>Antivirus:</b> To detect, prevent, and remove malicious software (viruses, worms, Trojans) from systems. <br>Example Tools: Symantec, McAfee, Windows Defender.</p>
                    </div>
                    <div class="col-m-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i><b>Endpoint Protection:</b> To secure individual devices and endpoints from cyber threats. <br>Example Tools: CrowdStrike, Microsoft Defender for Endpoint, Cylance.</p>
                    </div>
                    <div class="col-m-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i><b>Virtual Private Network (VPN):</b> To establish secure and encrypted connections over the internet, ensuring confidentiality and privacy. <br>Example Tools: OpenVPN, Cisco AnyConnect, NordVPN.</p>
                    </div>
                    <div class="col-m-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i><b>Security Information & Event Management (SIEM):</b> To collect, analyze, and correlate log data from various sources to identify and respond to security events. <br>Example Tools: Splunk, IBM QRadar, LogRhythm.</p>
                    </div>
                    <div class="col-m-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i><b>Data Loss Prevention (DLP):</b> To prevent unauthorized access and transmission of sensitive data. <br>Example Tools: Symantec DLP, McAfee DLP, Digital Guardian.</p>
                    </div>
                    <div class="col-m-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i><b>Web Application Firewall (WAF):</b> To protect web applications from various attacks, such as SQL injection and cross-site scripting (XSS). <br>Example Tools: ModSecurity, Barracuda WAF, F5 Networks.</p>
                    </div>
                    <div class="col-m-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i><b>Vulnerability Scanning & Management:</b> To identify and remediate vulnerabilities in systems and applications. <br>Example Tools: Nessus, Qualys, Rapid7 Nexpose.</p>
                    </div>
                </div>
                <a class="btn btn-primary py-3 px-5 mt-2" [routerLink]="['../data-protection-test001']">Take the Test</a>
            </div>
        </div>
    </div>
</div>