<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <!-- <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="img/about.jpg" alt="" style="object-fit: cover;">
                </div>
            </div> -->
            <div class="wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3" style="font-size: larger;">Introduction to CyberSecurity</h6>
                <!-- <h1 class="mb-4">Welcome to eLEARNING</h1> -->
                <p class="mb-4">Cybersecurity involves the protection of computer systems, networks, devices, and data from unauthorized access, attacks, damage, or theft. It encompasses various technologies, processes, and practices designed to safeguard information and systems from vulnerabilities and threats posed by cyber attackers or malicious entities.</p>
                <img class="img-fluid" src="../../../../assets/img/intro.png" alt="" style="object-fit: cover; width: 450px; display: flex; position: relative;">
                <p class="mb-4">Cybersecurity aims to ensure confidentiality, integrity, and availability of data. It involves implementing measures like firewalls, encryption, multi-factor authentication, antivirus software, intrusion detection systems, and regular security audits to prevent, detect, and respond to cyber threats. With the continuous evolution of technology, cybersecurity is an ongoing effort to stay ahead of potential risks and protect digital assets.</p>
                <p class="mb-4">Cybersecurity is the protection to defend internet-connected devices and services from malicious attacks by hackers, spammers, and cybercriminals. The practice is used by companies to protect against phishing schemes, ransomware attacks, identity theft, data breaches, and financial losses.</p>
                <p class="mb-4">In this course further we shall know more about the most common Scams and how to avoid it!!.</p>
                <!-- <div class="row gy-2 gx-4 mb-4">
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Skilled Instructors</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Online Classes</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>International Certificate</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Skilled Instructors</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Online Classes</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>International Certificate</p>
                    </div>
                </div> -->
                <a class="btn btn-primary py-3 px-5 mt-2" href="">Take the Test!</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->