<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="../../../../assets/img2/sqlinjection.jpg" alt="" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">ADVANCED CYBER THREATS In DIGITAL ERA</h6>
                <h1 class="mb-4">What do you mean by SQL Injection?</h1>
                <p class="mb-4">SQL injection is a type of cyber attack where an attacker inserts malicious SQL (Structured Query Language) code into the input fields to manipulate a database. This can allow unauthorized access, retrieval, modification or deletion of data.</p>
                <p class="mb-4">To prevent SQL injection, its crucial to use parameterized queries or prepared statements and validate user inputs.</p>                
                <a class="btn btn-primary py-3 px-5 mt-2" [routerLink]="['../attackers-exploitation']">Next</a>
            </div>
        </div>
    </div>
</div>