<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 order-lg-2 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="../../../../assets/img2/protectnetwork.png" alt="" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">    
                <h6 class="section-title bg-white text-start text-primary pe-3">ADVANCED CYBER THREATS In DIGITAL ERA</h6>            
                <h1 class="mb-4">Protecting Our Network</h1>                
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-m-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>User policies set on individual users.</p>
                    </div>
                    <div class="col-m-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Wireless security in public and private should be handled carefully.</p>
                    </div>
                    <div class="col-m-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Connections should only be made to known networks, and never free, password-less ones.</p>
                    </div>
                    <div class="col-m-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Wherever possible, employ secure connections such as Secure Shell (SSH) or Virtual Private Network (VPN).</p>
                    </div>                    
                </div>
                <a class="btn btn-primary py-3 px-5 mt-2" [routerLink]="['../isact-test001']">Take the Test</a>
            </div>
        </div>
    </div>
</div>