<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="../../../../assets/img2/Types-of-Attack.png" alt="" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">ADVANCED CYBER THREATS In DIGITAL ERA</h6>
                <h1 class="mb-4">Types of attack surfaces</h1>
                <!-- <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p> -->
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-m-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i><b>Digital attack surfaces</b> encompass applications, code, ports, servers, and websites, as well as unauthorized system access points. Vulnerabilities left by poor coding, weak passwords, default operating system settings, exposed application programming interfaces or poorly maintained software are all part of the digital attack surface.</p>
                    </div>
                    <div class="col-m-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i><b>Physical attack surfaces</b>comprise all endpoint devices, such as desktop systems, laptops, mobile devices, and USB ports. Improperly discarded hardware that may contain user data and login credentials, passwords on paper or physical break-ins are also included.</p>
                    </div>                    
                </div>
                <a class="btn btn-primary py-3 px-5 mt-2" [routerLink]="['../attack-surfaces-limited']">Next</a>
            </div>
        </div>
    </div>
</div>