<div *ngIf="userRole === '1'; else noAccessPage">


<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a href="homepage" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <h2 class="m-0"><i class="fa fa-book me-3"></i>eLEARNING</h2>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a class="nav-item nav-link" href="adminpage">Home</a>
            <!-- <a class="nav-item nav-link">About</a> -->
            <a class="nav-item nav-link active" href="courses">Courses</a>
            <!-- <a href="contact.html" class="nav-item nav-link">Contact</a> -->
        </div>
        <a (click)="logout()" class="btn py-4 px-lg-5 d-lg-block" style="background: #11101D; color: #ddd;">Log Out<i
                class="fa fa-arrow-right ms-3"></i></a>
    </div>
</nav>
<!-- Navbar End -->

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Add Course</h6>
            <!-- <h1 class="mb-5">Courses Available</h1> -->
        </div>

        <div class="formbold-main-wrapper">
            <div class="formbold-form-wrapper">
                <form method="POST">
                    <div class="formbold-input-group">
                        <label for="name" class="formbold-form-label">Course Name</label>
                        <input
                            type="text"
                            name="course_name"
                            placeholder="Enter Course Name"
                            class="formbold-form-input"
                            required
                        />
                    </div>

                    <div class="formbold-input-group">
                        <label for="description" class="formbold-form-label">Course Description</label>
                        <input
                            type="text"
                            name="course_description"
                            placeholder="Enter Course Description"
                            class="formbold-form-input"
                            required
                        />
                    </div>

                    <div class="formbold-input-group">
                        <label for="image" class="formbold-form-label">Upload Image</label>
                        <input
                            type="file"
                            name="image"
                            accept="image/*"
                            class="formbold-form-input"
                            required
                        />
                    </div>

                    <div class="formbold-input-group">
                        <label for="file" class="formbold-form-label">Upload File</label>
                        <input
                            type="file"
                            name="file"
                            accept=".pdf,.doc,.docx,.txt"
                            class="formbold-form-input"
                            required
                        />
                    </div>

                    <button class="formbold-btn">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>



<!-- Footer Start -->
<div class="container-fluid bg-dark text-light footer pt-25 mt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-55">
        <div class="row g-5">
            <!-- <div class="col-lg-3 col-md-6">
                <h4 class="text-white mb-3">Quick Link</h4> -->
            <!-- <a class="btn btn-link" href="">About Us</a> -->
            <!-- <a class="btn btn-link" href="">Contact Us</a>
                <a class="btn btn-link" href="">Privacy Policy</a>
                <a class="btn btn-link" href="">Terms & Condition</a>
                <a class="btn btn-link" href="">FAQs & Help</a>
            </div> -->
            <!-- <div class="col-lg-3 col-md-6">
                <h4 class="text-white mb-3">Contact</h4>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>XYZ, India</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+12 32456 27890</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i></p>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>      -->
            <div class="container">
                <div class="copyright">
                    <div class="row">
                        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                            &copy; <a class="border-bottom" href="#">Prism Johnson</a>, All Right Reserved.                                
                        </div>
                        <div class="col-md-6 text-center text-md-end">
                            <div class="footer-menu">
                                <a href="">Home</a>                                    
                                <a href="">FQAs</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->

</div>

<ng-template #noAccessPage>
    <div class="container text-center py-5">
      <h1 class="text-danger">Access Denied</h1>
      <p class="lead">You do not have permission to view this page.</p>
      <a class="btn btn-primary" routerLink="/homepage">Go to Homepage</a>
    </div>
</ng-template>