<!-- Navbar Start -->
<nav
  class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
  <a class="navbar-brand d-flex align-items-center px-4 px-lg-5">
    <h2 class="m-0"><i class="fa fa-solid fa-bars" (click)="drawer.toggle()"
        style="cursor: pointer; font-size: 30px;"></i> eLEARNING</h2>
  </a>  
</nav>
<!-- Navbar End -->

<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened #drawer>
    <div class="sidebar open">
      <ul class="nav-list">        
        <li>
          <a [routerLink]="['introduction-to-cybersecurity']">
            <i class='bx bx-task'></i>
            <span class="links_name">Introduction to CyberSecurity</span>
          </a>
          <span class="tooltip">Introduction to CyberSecurity</span>
        </li>
        <li>
          <a (click)="CheckTest01('')" style="cursor: pointer;"> <!--[routerLink]="canNavigateToTypesOfFrauds ? ['types-of-frauds'] : null"-->
            <i class='bx bx-task'></i>
            <span class="links_name">Types of Scams/Frauds</span>
          </a>
          <span class="tooltip">Types of Scams/Frauds</span>
        </li>
        <li>
          <a [routerLink]="['ways-to-avoid-scams']"> <!--[routerLink]="canNavigateToWaysToAvoidScams ? ['ways-to-avoid-scams'] : null"-->
            <i class='bx bx-task'></i>
            <span class="links_name">Ways to Avoid Scams</span>
          </a>
          <span class="tooltip">Ways to Avoid Scams</span>
        </li>    
        <li class="profile">
          <div class="profile-details">
            <!-- <img src="profile.jpg" alt="profileImg"> -->
            <div class="name_job">
              <div class="name">{{fullName}}</div>
              <div class="job">LEARNER</div>
            </div>
          </div>
          <i class='bx bx-log-out' id="log_out" (click)="logout()"></i>
        </li>
      </ul>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
