<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <!-- <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="img/about.jpg" alt="" style="object-fit: cover;">
                </div>
            </div> -->
            <div class="col-lg-15 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">ADVANCED CYBER THREATS In DIGITAL ERA</h6>
                <h1 class="mb-4">Phases of Incident Response Management</h1>
                <p class="mb-4">The incident response management process typically consists of several distinct phases. These phases are often represented as a continuous cycle, emphasizing the importance of learning from each incident to improve the organization's overall security posture. The phases are as follows:</p>
                <!-- <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p> -->
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-m-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i><b>Preparation:</b> Establishing and training an incident response team. Developing and maintaining an incident response plan.</p>
                    </div>
                    <div class="col-m-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i><b>Identification:</b> Use monitoring tools, intrusion detection systems and log analysis to recognize abnormal activities.</p>
                    </div>
                    <div class="col-m-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i><b>Containment:</b> Isolate affected systems to prevent further damage.</p>
                    </div>
                    <div class="col-m-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i><b>Eradication:</b> Identify and eliminate the root cause of the incident. Apply permanent solutions to remove vulnerabilities and prevent similar incidents. Ensure that the system is secure and free from any traces of the incident.</p>
                    </div>
                    <div class="col-m-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i><b>Recovery:</b> Restore systems and services to normal operation. Validate the integrity of restored systems. Communicate with stakeholders and users about the resolution and any necessary actions.</p>
                    </div>
                    <div class="col-m-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i><b>Lessons Learned:</b> Conduct a post-incident analysis to understand the incident's causes and effects. Document lessons learned and update incident response plans and security policies.</p>
                    </div>
                    <div class="col-m-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i><b>Documentation:</b> Maintain detailed records of the incident, including timelines, actions taken, and outcomes. Ensure that all relevant information is documented for regulatory compliance and future reference. Document any changes made to systems during the incident response process.</p>
                    </div>
                    <div class="col-m-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i><b>Communication:</b> Establish clear communication channels within the incident response team. Communicate with external parties, such as management, legal, and law enforcement if necessary.</p>
                    </div>
                </div>
                <a class="btn btn-primary py-3 px-5 mt-2" [routerLink]="['../role-of-incident-response-manager']">Next</a>
            </div>
        </div>
    </div>
</div>