<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <!-- <div class="position-relative h-100"> -->
                    <img class="img-fluid position-relative w-100 h-100" src="../../../../assets/img2/precautions.png" alt="" style="object-fit: cover;">
                <!-- </div> -->
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">ADVANCED CYBER THREATS In DIGITAL ERA</h6>
                <h1 class="mb-4">Precautions</h1>
                <!-- <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p> -->
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-m-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Never respond to e-mail or SMS on mobile from strangers regarding online lottery or bumper festival bonanza.</p>
                    </div>
                    <div class="col-m-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Don't deposit any money in unknown accounts without proper confirmation.</p>
                    </div>
                    <div class="col-m-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>The winning lottery amount is a fraud committed with convenience of a bank account holder who is paid commission and has no link with fraudster.</p>
                    </div>
                    <div class="col-m-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Don’t get trapped by scammers and e-Mails with a subject line you won some $10000 just think why only you received the email without your participation.</p>
                    </div>
                    <div class="col-m-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Be aware about the products you get for a discounted price. Think why you received email for products when you never enter any online shopping or contest.</p>
                    </div>                    
                </div>
                <a class="btn btn-primary py-3 px-5 mt-2" [routerLink]="['../desktop-security']">Next</a>
            </div>
        </div>
    </div>
</div>