<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 order-lg-2 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <!-- <div class="position-relative h-100"> -->
                    <img class="img-fluid position-relative" src="../../../../assets/img2/aptattacks.jpg" alt="" style="object-fit: cover; margin-top: 10vh;">
                <!-- </div> -->
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">ADVANCED CYBER THREATS In DIGITAL ERA</h6>
                <h1 class="mb-4">What do you mean by APT?<br>What are the types of APT attacks?</h1>
                <p class="mb-4">An Advanced Persistent Threat (APT) is a sophisticated and targeted cyber attack in which an unauthorized person gains access to a network and remains undetected for an extended period. APT attacks are typically well-planned, persistent, and often state-sponsored. Different types of APT attacks exist, each with its own characteristics and methodologies. Here are some common types of APT attacks:</p>
                <!-- <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p> -->
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-m-6">
                        <p class="mb-0" style="white-space: nowrap;"><i class="fa fa-arrow-right text-primary me-2"></i><b>Spear Phishing:</b> Targeted and highly personalized phishing attacks that are tailored to specific individuals or organizations.</p>
                    </div>
                    <div class="col-m-6">
                        <p class="mb-0" style="white-space: nowrap;"><i class="fa fa-arrow-right text-primary me-2"></i><b>Watering Hole Attack:</b> Targeting websites frequented by a specific group of users to infect their systems with malware.</p>
                    </div>
                    <div class="col-m-6">
                        <p class="mb-0" style="white-space: nowrap;"><i class="fa fa-arrow-right text-primary me-2"></i><b>Zero-Day Exploits:</b> Exploiting software vulnerabilities that are unknown to the software vendor or the public.</p>
                    </div>
                    <div class="col-m-6">
                        <p class="mb-0" style="white-space: nowrap;"><i class="fa fa-arrow-right text-primary me-2"></i><b>Drive-By Downloads:</b> Malicious software is automatically downloaded and installed on a user's device without their knowledge or consent.</p>
                    </div>
                    <div class="col-m-6">
                        <p class="mb-0" style="white-space: nowrap;"><i class="fa fa-arrow-right text-primary me-2"></i><b>Malware Deployment:</b> Infiltrating a network with malware to gain control over systems and exfiltrate sensitive information.</p>
                    </div>
                    <div class="col-m-6">
                        <p class="mb-0" style="white-space: nowrap;"><i class="fa fa-arrow-right text-primary me-2"></i><b>Credential Theft:</b> Stealing login credentials, such as usernames and passwords, to gain unauthorized access.</p>
                    </div>
                    <div class="col-m-6">
                        <p class="mb-0" style="white-space: nowrap;"><i class="fa fa-arrow-right text-primary me-2"></i><b>Lateral Movement:</b> Moving laterally within a network to gain access to different systems and escalate privileges.</p>
                    </div>
                    <div class="col-m-6">
                        <p class="mb-0" style="white-space: nowrap;"><i class="fa fa-arrow-right text-primary me-2"></i><b>Data Exfiltration:</b> Illegally transferring sensitive data from a compromised network to an external location controlled by the attacker.</p>
                    </div>
                    <div class="col-m-6">
                        <p class="mb-0" style="white-space: nowrap;"><i class="fa fa-arrow-right text-primary me-2"></i><b>Command & Control Servers:</b> Establishing communication channels between compromised systems and external servers controlled by the <br>attacker.</p>
                    </div>                    
                </div>
                <a class="btn btn-primary py-3 px-5 mt-2" [routerLink]="['../sql-injection']">Next</a>
            </div>
        </div>
    </div>
</div>