<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <!-- <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="img/about.jpg" alt="" style="object-fit: cover;">
                </div>
            </div> -->
            <div class="wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3" style="font-size: larger;">Test On CyberStalking and CyberBullying</h6><br><br>
                <form> <!--(ngSubmit)="submitForm()" #form="ngForm"-->
                    <ol>
                        
                        <li>                            
                            <p>What involves the use of a botnet to perform a DDOS attack?</p>
                            <input type="radio" id="q1a" name="q1" value="a" style="margin-right: 3vh;" [(ngModel)]="model.q1">
                            <label for="q1a">A government-initiated network audit  </label><br>

                            <input type="radio" id="q1b" name="q1" value="b" style="margin-right: 3vh;" [(ngModel)]="model.q1">
                            <label for="q1b">A single hacker using multiple programs</label><br>

                            <input type="radio" id="q1c" name="q1" value="c" style="margin-right: 3vh;" [(ngModel)]="model.q1">
                            <label for="q1c">A legal method for stress-testing a network</label><br>

                            <input type="radio" id="q1d" name="q1" value="d" style="margin-right: 3vh;" [(ngModel)]="model.q1">
                            <label for="q1d">A group of attackers manually overloading a server</label><br>

                            <input type="radio" id="q1e" name="q1" value="e" style="margin-right: 3vh;" [(ngModel)]="model.q1">
                            <label for="q1e">Multiple compromised computers controlled by attackers </label><br>

                        </li><br>
                        <li>
                            <p>What is NOT a mitigation strategy against DDOS attacks?</p>
                            <input type="radio" id="q2a" name="q2" value="a" style="margin-right: 3vh;"  [(ngModel)]="model.q2">
                            <label for="q2a">Installing DDOS protection services  </label><br>
                            
                            <input type="radio" id="q2b" name="q2" value="b" style="margin-right: 3vh;"  [(ngModel)]="model.q2">
                            <label for="q2b">Removing antivirus software </label><br>
                            
                            <input type="radio" id="q2c" name="q2" value="c" style="margin-right: 3vh;"  [(ngModel)]="model.q2">
                            <label for="q2c">Deploying firewalls  </label><br>

                            <input type="radio" id="q2d" name="q2" value="d" style="margin-right: 3vh;"  [(ngModel)]="model.q2">
                            <label for="q2d">Utilizing load balancers  </label><br>

                            <input type="radio" id="q2e" name="q2" value="e" style="margin-right: 3vh;"  [(ngModel)]="model.q2">
                            <label for="q2e">Using content delivery networks (CDNs)  </label><br>
                        </li><br>

                        <li>
                            <p>What can be included in cyberstalking?</p>
                            <input type="radio" id="q3a" name="q3" value="a" style="margin-right: 3vh;"  [(ngModel)]="model.q3">
                            <label for="q3a">Teasing </label><br>

                            <input type="radio" id="q3b" name="q3" value="b" style="margin-right: 3vh;" [(ngModel)]="model.q3">
                            <label for="q3b">Engaging in social media marketing  </label><br>
                            
                            <input type="radio" id="q3c" name="q3" value="c" style="margin-right: 3vh;" [(ngModel)]="model.q3">
                            <label for="q3c">Video gaming  </label><br>

                            <input type="radio" id="q3d" name="q3" value="d" style="margin-right: 3vh;" [(ngModel)]="model.q3">
                            <label for="q3d">Using encrypted communication  </label><br>

                            <input type="radio" id="q3e" name="q3" value="e" style="margin-right: 3vh;" [(ngModel)]="model.q3">
                            <label for="q3e">Online shopping  </label><br>
                        </li><br>

                        <li>
                            <p>What is an effective measure to prevent cyberstalking?</p>
                            <input type="radio" id="q4a" name="q4" value="a" style="margin-right: 3vh;" [(ngModel)]="model.q4">
                            <label for="q4a">Making all social accounts public  </label><br>
                            
                            <input type="radio" id="q4b" name="q4" value="b" style="margin-right: 3vh;" [(ngModel)]="model.q4">
                            <label for="q4b">Sharing passwords with friends  </label><br>         
                            
                            <input type="radio" id="q4c" name="q4" value="c" style="margin-right: 3vh;" [(ngModel)]="model.q4">
                            <label for="q4c">Educating individuals on password safety</label><br>

                            <input type="radio" id="q4d" name="q4" value="d" style="margin-right: 3vh;" [(ngModel)]="model.q4">
                            <label for="q4d">Engaging with cyberbullies  </label><br>

                            <input type="radio" id="q4e" name="q4" value="e" style="margin-right: 3vh;" [(ngModel)]="model.q4">
                            <label for="q4e">Checking social accounts once a year  </label><br>
                        </li><br>

                        <li>
                            <p>How often is it recommended to check social accounts to prevent cyberstalking and cyberbullying?</p>
                            <input type="radio" id="q5a" name="q5" value="a" style="margin-right: 3vh;" [(ngModel)]="model.q5">
                            <label for="q5a">Every few years  </label><br>

                            <input type="radio" id="q5b" name="q5" value="b" style="margin-right: 3vh;" [(ngModel)]="model.q5">
                            <label for="q5b">Annually  </label><br>

                            <input type="radio" id="q5c" name="q5" value="c" style="margin-right: 3vh;" [(ngModel)]="model.q5">
                            <label for="q5c">Weekly  </label><br>

                            <input type="radio" id="q5d" name="q5" value="d" style="margin-right: 3vh;" [(ngModel)]="model.q5">
                            <label for="q5d">Daily  </label><br>

                            <input type="radio" id="q5e" name="q5" value="e" style="margin-right: 3vh;" [(ngModel)]="model.q5">
                            <label for="q5e">Monthly </label><br>
                        </li><br>

                        <li>
                            <p>Firewalls are ineffective against DDOS attacks and should not be used as a mitigation strategy.</p>
                            <input type="radio" id="q6a" name="q6" value="a" style="margin-right: 3vh;" [(ngModel)]="model.q6">
                            <label for="q6a">True</label><br>
                            <input type="radio" id="q6b" name="q6" value="b" style="margin-right: 3vh;" [(ngModel)]="model.q6">
                            <label for="q6b">False</label><br>                            
                        </li><br>
                        <li>
                            <p>Cyberbullying is a less serious issue compared to cyberstalking because it only happens among children.</p>
                            <input type="radio" id="q7a" name="q7" value="a" style="margin-right: 3vh;" [(ngModel)]="model.q7">
                            <label for="q7a">True</label><br>
                            <input type="radio" id="q7b" name="q7" value="b" style="margin-right: 3vh;" [(ngModel)]="model.q7">
                            <label for="q7b">False</label><br>                            
                        </li><br>
                        <li>
                            <p>It's unnecessary to monitor children's social accounts regularly to prevent cyberbullying.</p>
                            <input type="radio" id="q8a" name="q8" value="a" style="margin-right: 3vh;" [(ngModel)]="model.q8">
                            <label for="q8a">True</label><br>
                            <input type="radio" id="q8b" name="q8" value="b" style="margin-right: 3vh;" [(ngModel)]="model.q8">
                            <label for="q8b">False</label><br>                            
                        </li><br>
                        <li>
                            <p>Reporting cyberbullies and disengaging from interactions can help prevent further cyberbullying.</p>
                            <input type="radio" id="q9a" name="q9" value="a" style="margin-right: 3vh;" [(ngModel)]="model.q9">
                            <label for="q9a">True</label><br>
                            <input type="radio" id="q9b" name="q9" value="b" style="margin-right: 3vh;" [(ngModel)]="model.q9">
                            <label for="q9b">False</label><br>                            
                        </li><br>
                        <li>
                            <p>Content delivery networks (CDNs) have no role in protecting against DDOS attacks.</p>
                            <input type="radio" id="q10a" name="q10" value="a" style="margin-right: 3vh;" [(ngModel)]="model.q10">
                            <label for="q10a">True</label><br>
                            <input type="radio" id="q10b" name="q10" value="b" style="margin-right: 3vh;" [(ngModel)]="model.q10">
                            <label for="q10b">False</label><br>
                        </li>
                    </ol>
                    <button type="submit" (click)="Start()" >Submit Answers</button> <!--(click)="submitForm()"-->
                </form>
            </div>
            <a *ngIf="submitted" class="btn btn-primary py-3 px-5 mt-2" (click)="CheckTest001('')" (click)="complete('','Completed CyberSecurity Course1')">End of the Course!</a>
        </div>
    </div>
</div>

<div class="container-xxl py-5 justify-content-center align-items-center modal-open" *ngIf="start"> <!-- *ngIf="start"-->
    <div class="container">
        <div class="card shadow confirmation-card">
            <div class="row g-5">                
                <div class="col-lg-6 wow" >
                    <div class="card-body">                        
                        <!-- Confirmation Card -->
                        <div class="confirmation-card confirmation-buttons">
                            <p class="confirmation-text">Are you sure you want to submit?</p>
                            <button class="btn btn-primary"  (click)="submitForm()">Yes</button> <!--(click)="submitEnrollment()"-->
                            <button class="btn btn-secondary" (click)="closeCard()">Cancel</button> <!-- (click)="cancelEnrollment()"-->
                        </div>
                        <!-- End Confirmation Card -->
                        <button type="button" class="btn-close position-absolute top-0 end-0 mt-3 me-3" aria-label="Close" (click)="closeCard()"></button> <!--(click)="closeCard()"-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
