<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 order-lg-2 wow fadeInUp" data-wow-delay="0.1s">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute " src="../../../../assets/img2/roleofIR.png" alt="" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">ADVANCED CYBER THREATS In DIGITAL ERA</h6>            
                <h1 class="mb-4">What is the role of Incident Response Manager?</h1>
                <p class="mb-4">The Incident Response Manager plays a crucial role in overseeing and coordinating the activities of the incident response team during a security incident. Their responsibilities include:</p>                
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-m-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i><b>Planning and Preparedness:</b> Conduct regular training and simulation exercises to ensure the team is well-prepared for potential incidents.</p>
                    </div>
                    <div class="col-m-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i><b>Team Coordination:</b> Leading the incident response team during an actual security incident.</p>
                    </div>
                    <div class="col-m-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i><b>Incident Identification and Assessment:</b> Oversee the process of identifying and assessing security incidents. Classify incidents based on severity and potential impact.</p>
                    </div>
                    <div class="col-m-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i><b>Containment and Eradication:</b> Lead the efforts to contain the incident, isolate affected systems, and prevent further damage. Guide the team in identifying and eliminating the root cause of the incident.</p>
                    </div>
                    <div class="col-m-6">
                        <p class="mb-0" style="white-space: nowrap;"><i class="fa fa-arrow-right text-primary me-2"></i><b>Communication:</b> Serve as the primary point of contact for communication with internal and external stakeholders.</p>
                    </div>
                    <div class="col-m-6">
                        <p class="mb-0" style="white-space: nowrap;"><i class="fa fa-arrow-right text-primary me-2"></i><b>Recovery:</b> Ensure that recovery efforts are conducted efficiently and effectively.</p>
                    </div>
                    <div class="col-m-6">
                        <p class="mb-0" style="white-space: nowrap;"><i class="fa fa-arrow-right text-primary me-2"></i><b>Post-Incident Analysis and Documentation:</b> Conduct a thorough post-incident analysis to understand the causes and impacts of the incident.</p>
                    </div>
                    <div class="col-m-6">
                        <p class="mb-0" style="white-space: nowrap;"><i class="fa fa-arrow-right text-primary me-2"></i><b>Continuous Improvement:</b> Lead efforts to continuously improve the organization's incident response capabilities.</p>
                    </div>                    
                </div>
                
                <a class="btn btn-primary py-3 px-5 mt-2" [routerLink]="['../ir-management-test001']">Take the Test</a>
            </div>
        </div>
    </div>
</div>