<div id="spinner" *ngIf="isLoading"
    class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;"
        role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<button class="button-24" role="button"
    style="margin-left: 150vh; margin-top: 5vh;" (click)="navigateToQuiz()">Take the
    Test!</button> <!--onclick="openForm()" --> <!--- onclick="showContent('content2')"-->
<br>

<iframe
    src="https://onedrive.live.com/embed?resid=6A90767B84A48AAB%21577&amp;authkey=!AALeh5mSeKSaV2g&amp;em=2&amp;wdAr=1.7777777777777777"
    width="900" height="500" style="margin-left: 5vh; border-color: #1d1b31; margin-top: -7vh;"></iframe>
<br>
<!-- 
<div style="margin-top: -5vh;" >    -id="popup-container"
    <div id="close-btn" onclick="closeForm()">X</div>
    <div class="app" style="margin-top: -2vh;">
        <h1>Simple Quiz</h1>
        <div class="quiz">
            <h2 id="question"></h2>
            <div id="answer-buttons">
                <div class="ansbtn"></div>
                <div class="ansbtn"></div>
                <div class="ansbtn"></div>
                <div class="ansbtn"></div>
            </div>
            <div id="next-btn">Next</div>
        </div>
    </div>
</div> -->